<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php" colors="true" convertErrorsToExceptions="true"
         convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false"
         stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="DB_CONNECTION" value="mysql" force="true"/>
        <server name="DB_HOST" value="127.0.0.1" force="true"/>
        <server name="DB_PORT" value="3306" force="true"/>
        <server name="DB_USERNAME" value="user" force="true"/>
        <server name="DB_PASSWORD" value="" force="true"/>
        <server name="DB_DATABASE" value="auditoria" force="true"/>
    </php>
</phpunit>
